{{ define "main" }}

{{ partial "navigation.html" . }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <h1>{{ .Title | safeHTML}}</h1>
        {{ if and (ne .Title .Description) (ne .Description "") }}
        <h4>{{ .Description | safeHTML}}</h4>
        {{ end }}
        <br/>
        {{ if ( eq .Params.title_image "") }}
        <div class="blogimage-block p15 row">
          <img class="img-fluid mb-50 lozad" data-src="{{ .Params.title_image  | absURL }}" alt="blog-image">
          <div class="caption">
            <a class="search-icon image-popup" data-effect="mfp-with-zoom" href="{{ .Params.title_image  | relURL }}"
              data-lightbox="image-1">
              <i class="ti-zoom-in"></i>
            </a>
          </div>
          </a>
        </div>
        {{ end }}
      </div>
      <div class="col-lg-8 offset-lg-2">
        <div class="post-single-content">
          {{ .Content | safeHTML}}
        </div>
        <br/>
        {{"<!-- image item -->" | safeHTML}}
			  {{ range .Params.blog_images }}
        <div class="blogimage-block p15 row">
          <img class="img-fluid mb-50 lozad" data-src="{{ . | absURL }}" alt="blog-image">
          <div class="caption">
            <a class="search-icon image-popup" data-effect="mfp-with-zoom" href="{{ . | relURL }}"
              data-lightbox="image-1">
              <i class="ti-zoom-in"></i>
            </a>
          </div>
          </a>
        </div>
        {{ end }}
        {{"<!-- /image -->" | safeHTML}}
        {{ if site.Params.post_share }}
        {{ partial "post-share.html" . }}
        {{ end }}
        <!-- comments -->
        <div class="mt-5">
          {{ template "_internal/disqus.html" . }}
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
