{{ $data := index site.Data site.Language.Lang }}

{{ if $data.banner.banner.enable }}
{{ with $data.banner.banner }}
{{"<!-- Welcome Slider-->" | safeHTML}}
<div id="heroimages" class="wow fadeInUp" data-wow-duration="500ms" data-wow-delay="100ms">
	{{ range .hero_images }}
	<div class="item text-center">
		<section class="hero-area" style='background-image: url("{{ .image | absURL }}")'></section>
			<img class="d-none" src="{{ .image | absURL }}" />
		</section>
	</div>
	{{end}}
</div>

<div class="hero-area-block">
	{{ if $data.banner.banner.icon }}
	<div class="video-button">
		<i class="{{ $data.banner.banner.icon }}"></i>
	</div>
	{{ end }}
	<h1>{{ $data.banner.banner.title | markdownify }}</h1>
	<p>{{ $data.banner.banner.content | markdownify }}</p>
	{{ if $data.banner.banner.button.enable }}
	{{ with $data.banner.banner.button }}
	<a href="{{ $data.banner.banner.link }}" class="btn btn-transparent page-scroll">{{ .label }}</a>
	{{ end }}
	{{ end }}
</div>
{{"<!-- /Welcome Slider-->" | safeHTML}}
{{end}}
{{end}}
