$text-font: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

$white-color: #ffffff;

$text-color: #70241D;
$accent-color: #ED4C3E;
$background-color: $white-color;
$group-text-color: #989898;
$hero-color: #f1f1f1;
$border-color: #ebebeb;
$burger-color: #171616;

$accent-hover-color: #EDC5AD;
$tile-text-hover-color: #6E5B50;
$header-shadow-color: rgba(1, 1, 1, .1);